@import (less) 'node_modules/normalize.css/normalize.css';
@import (less) './_media';
@import (less) './_vars';
@import (less) './_cat';
@import (less) './_rating';

*,
h1 {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: Roboto, sans-serif;
}

.clear {
    clear: both;
}

.header {
    margin: 5rem 0;

    &__title {
        font-size: 5rem;
        text-align: center;
    }

    &__mrrr {
        color: @color-red-berry;
    }
}

.main {
    max-width: 120rem;
    margin: 0 auto;
    font-size: 0;

    &__switch-radio {
        display: none;
    }

    &__switch-radio:checked ~ &__switch-label {
        //fill: yellow;
    }

    &__switch-label {
        float: right;
        display: block;
        .square(2.5rem);
        margin-left: 1rem;
        fill: @color-red-berry;
        cursor: pointer;

        svg {
            width: 100%;
            height: 100%;
        }

        &:hover {
            fill: @color-red;
        }
    }

    &__hr {
        margin-bottom: 2rem;
        border: .1rem solid @color-red-berry;
    }
}

.price {
    margin-bottom: .75rem;

    &__curr {
        color: @color-red;
        font-size: 2.5rem;
        font-weight: 700;
    }

    &__old {
        text-decoration: line-through;
    }
}
